<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div>
  context._moduleId: {{context._moduleId}}<br/> 
  context._properties.routingWebAPI: {{context._properties.routingWebAPI}}<br/> 
  context._properties.IsEditable: {{context._properties.IsEditable}}<br/>
  context._properties.EditMode: {{context._properties.EditMode}}<br/> 
  context._properties.ModuleId: {{context._properties.ModuleId}}<br/> 
  context._properties.PortalId: {{context._properties.PortalId}}<br/> 
  context._properties.UserId: {{context._properties.UserId}}<br/> 
  context._properties.CurrentLanguage: {{context._properties.CurrentLanguage}}<br/> 
  context._properties.TabId: {{context._properties.TabId}}<br/>
  context._properties.PortalLanguages: {{context._properties.PortalLanguages}}<br/> 
  context._properties.CurrentLanguage: {{context._properties.CurrentLanguage}}<br/> 
  context._properties.Resources: {{ log(context._properties.Resources)}}<br/>
  context._properties.Resources[0]: {{context._properties.Resources.AddItem_Text}}<br/>

  antiForgeryToken: (see console log)<br/> 
</div>